{% extends "master.html" %}
{% load static %}

{% block title %}
  Details about {{ mymember.firstname }} {{ mymember.lastname }}
{% endblock %}

{% block content %}
  <div class="mycard">
    <img src="{% static 'anton.jpg' %}" alt="Member Photo" class="member-photo"> <!-- Add the image class here -->
    <h1>{{ mymember.firstname }} {{ mymember.lastname }}</h1>
    <p>Phone: {{ mymember.phone }}</p>
    <p>Specialization: {{ mymember.specialization }}</p>
    <p>Member since: {{ mymember.joined_date }}</p>
  </div>
{% endblock %}
